.navbar-brand {
  background: url(../img/logo_ga.png) 15px 0 no-repeat;
  height: 40px;
  margin-right: 15px;
  margin-top: 10px;
  text-indent: -9999em;
  width: 140px;
}

body.layers li#nav_layers a {
  color: rgb(140, 255, 255);
}

body.maps li#nav_maps a {
  color: rgb(140, 255, 255);
}

body.documents li#nav_documents a {
  color: rgb(140, 255, 255);
}

body.people li#nav_people a {
  color: rgb(140, 255, 255);
}

body.groups li#nav_groups a {
  color: rgb(140, 255, 255);
}
