.navbar-brand {
  background: url(../img/logo_ga.png) 0px 0px no-repeat;
  height: 70px;
  margin-right: 15px;
  margin-top: 0px;
  text-indent: -9999em;
  width: 150px;
}

/* adjust top padding of geoexplorer.js
 * doesn't override from here, need to tweak from map_geoexplorer.css of master geonode
#paneltbar {
  margin-top: 71px;
}*/

/* adjust top margin for account button */
ul.nav.navbar-nav.navbar-right {
  margin-top: -18px;
}

/* rounded corner for images */
.items-list .thumb img {
  border: 1px solid #CCC;
  width: 100%;
  border-radius: 3px;
}

/* Navigation menu colored when selected */
body.layers li#nav_layers a {
  background-color: #1F9EE5;
  padding: 25px;
}

body.maps li#nav_maps a {
  background-color: #1F9EE5;
  padding: 25px;
}

body.documents li#nav_documents a {
  background-color: #1F9EE5;
  padding: 25px;
}

body.people li#nav_people a {
  background-color: #1F9EE5;
  padding: 25px;
}

body.groups li#nav_groups a {
  background-color: #1F9EE5;
  padding: 25px;
}

.navbar-right>li>a{
  margin-top: 10px;
}

.home-facets a:hover {
  color: #1890D2;
}

/* Customize footer */
.footer {
  border-top: 1px solid #999;
  padding: 60px;
  background-color: #000;
}

/* Customize Contact Us form */
div.form-group.col-lg-12 {
  margin-left: -30px;
}

div.col-lg-10 {
  width: 74%;
}

div.col-lg-12 {
  width: 105%;
}

#btncontact {
  margin-left: 34px;
}

/* Add line to divide footer */
.col-xs-12 hr {
  border-color: #555 -moz-use-text-color -moz-use-text-color;
}

/* Custom norecaptcha width */

@media screen and (max-height: 570px){
#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}

/* end custom properties */