{% block middle %}
<!-- Jssor Slider Begin -->
<!-- To move inline styles to css file/block, please specify a class name for each element. --> 
<div id="slider1_container" style="position: relative; margin: 0 auto;
    top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
    <!-- Loading Screen -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
            top: 0px; left: 0px; width: 100%; height: 100%;">
        </div>
        <div style="position: absolute; display: block; background: url({{ STATIC_URL }}geoavalanche/img/loading.gif) no-repeat center center;
            top: 0px; left: 0px; width: 100%; height: 100%;">
        </div>
    </div>
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px;
        height: 500px; overflow: hidden;">
        <div>
            <img u="image" src="{{ STATIC_URL }}geoavalanche/img/1920/bg-slide-3.jpg" />
            <div u="caption" t="NO" t3="RTT|2" r3="137.5%" du3="3000" d3="500" style="position: absolute; width: 445px; height: 300px; top: 100px; left: 600px;">
                <img src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-phone.png" style="position: absolute; width: 512px; height: 456px; top: -100px; left: 0px;" />
                <img u="caption" t="CLIP|LR" du="4000" t2="NO" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-trails.png" style="position: absolute; width: 512px; height: 456px; top: -100px; left: 0px;" />
                <img u="caption" t="ZMF|10" t2="NO" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-peak.png" style="position: absolute; width: 512px; height: 456px; top: -100px; left: 0px;" />
                <img u="caption" t="RTT|10" t2="NO" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-trees.png" style="position: absolute; width: 512px; height: 456px; top: -100px; left: 0px;" />
                <img u="caption" t="T" du="4000" t2="NO" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-pins.png" style="position: absolute; width: 512px; height: 456px; top: -100px; left: 0px;" />
            </div>
            <div u="caption" t="RTT|2" r="-75%" du="1600" d="2500" t2="NO" style="position: absolute; width: 470px; height: 220px; top: 120px; left: 650px;">
                <img src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-phone-vertical.png" style="position: absolute; width: 221px; height: 410px; top: -80px; left: -20px;" />
                <img u="caption" t3="MCLIP|L" du3="2000" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-app-1.png" style="position: absolute; width: 214px; height: 330px; top: -40px; left: -16px;" />
                <img u="caption" t="MCLIP|R" du="2000" t2="NO" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-app-2.png" style="position: absolute; width: 214px; height: 330px; top: -40px; left: -16px;" />
                <img u="caption" t="MCLIP|R" du="2000" t2="NO" src="{{ STATIC_URL }}geoavalanche/img/new-site/ga-app-3.png" style="position: absolute; width: 214px; height: 330px; top: -40px; left: -16px;" />
                <img u="caption" t="RTTL|BR" x="500%" y="500%" du="1000" d="-3000" r="-30%" t3="L" x3="70%" du3="1600" src="{{ STATIC_URL }}geoavalanche/img/new-site/c-finger-pointing.png" style="position: absolute; width: 257px; height: 300px; top: 80px; left: 200px;" />
            </div>
            <div style="position: absolute; width: 480px; height: 120px; top: 30px; left: 30px; padding: 5px;
                text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
                    color: #FFFFFF;">Avalanche data fusion at your hand
            </div>
            <div style="position: absolute; width: 480px; height: 120px; top: 300px; left: 30px; padding: 5px;
                text-align: left; line-height: 36px; font-size: 30px;
                    color: #FFFFFF;">
                    Build spatial data infrastructure for sharing snow avalanche information and maps with standards in mind
            </div>
        </div>
        <div>
            <img u="image" src="{{ STATIC_URL }}geoavalanche/img/1920/bg-slide-9.jpg" />
            <div style="position: absolute; width: 480px; height: 120px; top: 30px; left: 30px; padding: 5px;
                text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
                    color: #FFFFFF;">Ecosystem of geospatial applications
            </div>
            <div style="position: absolute; width: 480px; height: 120px; top: 300px; left: 30px; padding: 5px;
                text-align: left; line-height: 36px; font-size: 30px;
                    color: #FFFFFF;">
                    Build spatial data infrastructure for sharing snow avalanche information and maps with standards in mind
            </div>
        </div>
        <div>
            <img u="image" src="{{ STATIC_URL }}geoavalanche/img/1920/bg-slide-11.jpg" />
            <div style="position: absolute; width: 480px; height: 120px; top: 30px; left: 30px; padding: 5px;
                text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
                    color: #FFFFFF;">Capture, Process, Share
            </div>
            <div style="position: absolute; width: 480px; height: 120px; top: 300px; left: 30px; padding: 5px;
                text-align: left; line-height: 36px; font-size: 30px;
                    color: #FFFFFF;">
                    Build spatial data infrastructure for sharing snow avalanche information and maps with standards in mind
            </div>
        </div>
    </div>
            
    <!--#region Bullet Navigator Skin Begin -->
    <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
    <style>
        /* jssor slider bullet navigator skin 21 css */
        /*
        .jssorb21 div           (normal)
        .jssorb21 div:hover     (normal mouseover)
        .jssorb21 .av           (active)
        .jssorb21 .av:hover     (active mouseover)
        .jssorb21 .dn           (mousedown)
        */
        .jssorb21 {
            position: absolute;
        }
        .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
            position: absolute;
            /* size of bullet elment */
            width: 19px;
            height: 19px;
            text-align: center;
            line-height: 19px;
            color: white;
            font-size: 12px;
            background: url({{ STATIC_URL }}geoavalanche/img/b21.png) no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb21 div { background-position: -5px -5px; }
        .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
        .jssorb21 .av { background-position: -65px -5px; }
        .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
    </style>
    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype"></div>
    </div>
    <!--#endregion Bullet Navigator Skin End -->
    
    <!--#region Arrow Navigator Skin Begin -->
    <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
    <style>
        /* jssor slider arrow navigator skin 21 css */
        /*
        .jssora21l                  (normal)
        .jssora21r                  (normal)
        .jssora21l:hover            (normal mouseover)
        .jssora21r:hover            (normal mouseover)
        .jssora21l.jssora21ldn      (mousedown)
        .jssora21r.jssora21rdn      (mousedown)
        */
        .jssora21l, .jssora21r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url({{ STATIC_URL }}geoavalanche/img/a21.png) center center no-repeat;
            overflow: hidden;
        }
        .jssora21l { background-position: -3px -33px; }
        .jssora21r { background-position: -63px -33px; }
        .jssora21l:hover { background-position: -123px -33px; }
        .jssora21r:hover { background-position: -183px -33px; }
        .jssora21l.jssora21ldn { background-position: -243px -33px; }
        .jssora21r.jssora21rdn { background-position: -303px -33px; }
    </style>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
    </span>
    <!--#endregion Arrow Navigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">Image Slider</a>
</div>
<!-- Jssor Slider End -->
{% endblock middle %}
{% block extra_script %}
{% endblock extra_script %}