{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Welcome" %}</h1>
      <p>{% blocktrans %}GeoAvalanche is a snow avalanche information system for sharing geospatial data and maps about the risk in the mountains you are going to visit.{% endblocktrans %}</p>
      <p>{% blocktrans %}Every avalanche has a place{% endblocktrans %}</p>
      <p>{% blocktrans %}If you have any questions about the system, join our <a href="https://groups.google.com/d/forum/geoavalanche-users">mailing list</a>.{% endblocktrans %}</p>
      <span>{% trans 'Need help?' %} <a href="http://docs.geonode.org/en/latest/tutorials/users/quickstart/index.html">{% trans 'Getting Started' %}</a></span>
    </div>
  </div>
  {% endblock %}
